head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='public/vendor/jquery/dist/jquery.min.js')
    script(src='public/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='public/vendor/angular/angular.min.js')
    script(src='public/vendor/angular-ui/build/angular-ui.min.js')
