extends layout

block content

  nav(class="navbar navbar-inverse navbar-fixed-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")

        a(class="navbar-brand" href="#") Project name
  
      div(id="navbar" class="navbar-collapse collapse")
        form(class="navbar-form navbar-right")
          div(class="form-group")
            input(type="text" placeholder="Email" class="form-control")

          div(class="form-group")
            input(type="password" placeholder="Password" class="form-control")

          button(type="submit" class="btn btn-success") Sign in

      <!--/.navbar-collapse -->

  //- Main jumbotron for a primary marketing message or call to action
  div(class="jumbotron")
    div(class="container")
      h1 Hello, world!
      p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      p
        a(class="btn btn-primary btn-lg" href="#" role="button") Learn more &raquo;

  div(class="container")
    //- Example row of columns
    div(class="row")
      div(class="col-md-4")
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
        p
          a(class="btn btn-default" href="#" role="button") View details &raquo;
      
      div(class="col-md-4")
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
        p
          a(class="btn btn-default" href="#" role="button") View details &raquo;
      
      div(class="col-md-4")
        h2 Heading
        p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a(class="btn btn-default" href="#" role="button") View details &raquo;
  
    hr